/*Extra Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

.bh1 {
    padding: 0;
    font-size: 33px;
    line-height: 50px;
}
.b_text{
	text-align: center;
	margin-top: 10px;
}
.bp2 {
    line-height: 28px;
}
.btn_link{
	text-align: center;
}
/*feature start*/
.feature{
	padding: 0 0 60px;
}
.s_feature{
	margin-top: 20px;
}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	header{
	padding: 5px 0;
}
.logo{
	width: 180px;
}
.menu ul li a{
	margin-bottom: 6px;
	padding: 0px 10px !important;
}
/*banner start*/
.b_text{
	text-align: center;
}
.bh1{
	font-size: 40px;
	padding: 0 39px 0;
	line-height: 60px;
}
.bp2{
	line-height: 30px;
	padding: 0 50px;
}
.btn_link{
	margin: 15px auto 0;
}
.b_img{
	margin-bottom: 30px;
	padding: 0 80px;
}
/*feature start*/
.feature{
	padding: 0 0 60px;
}
.s_feature{
	margin-top: 24px;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*	header start*/
.menu ul li a{
	margin-bottom: 6px;
	padding: 0px 10px !important;
}
/*banner start*/
.b_text{
	text-align: center;
}
.bh1{
	padding: 0 130px 0;
	line-height: 60px;
}
.bp2{
	line-height: 30px;
	padding: 0 100px;
}
.btn_link{
	margin: 15px auto 0;
}
.b_img{
	margin-bottom: 30px;
	padding: 0 80px;
}
/*feature start*/
.feature{
	padding: 0 0 80px;
}
.s_feature{
	margin-top: 24px;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	/*banner start*/
.bh1{
	padding: 0;
	font-size: 42px;
}
.b_img{
	padding: 0;
}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { ... }

/*Extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) and (max-width: 1599.98px) {
	.bh1{
	margin: 10px 0 20px;
	padding: 0 110px 0 0;
}
}

/*Extra large devices (large desktops, 1600px and up)*/
@media (min-width: 1600px) and (max-width: 1999.98px) { ... }

/*Extra large devices (large desktops, 2000px and up)*/
@media (min-width: 2000px) { ... }